* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  color: #333;
}

.quiz-container {
  background-color: white;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: justify; /* Justifica o texto */
}

#progress-bar {
  height: 5px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: width 0.3s ease;
}

h2 {
  font-size: .90rem; /* Texto menor para a pergunta */
  margin-bottom: 20px;
  color: #333;
  text-align: justify; /* Justifica o texto das perguntas */
}

.options {
  margin-top: 20px;
}

.option {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 0.85rem; /* Texto menor */
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  display: block;
  flex: 1;
  padding: 10px;
  background-color: #f0f4f8;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: justify; /* Justifica o texto das opções */
}

label:hover {
  background-color: #e0e7ed;
}

#feedback {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

footer {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  color: #555;
}
